.product-list-item {
    padding: 8px 10px;
    width: 200px;
    height: 330px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex: 1 1 auto;
    font-family: "Roboto", sans-serif;
    &:hover {
        box-shadow: 0 2px 13px rgba(0,40,53,.2);
    }
    &__preview {
        object-fit: contain;
        width: 180px;
        height: 200px;
    }
    &__name {
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-height: 19px;
        max-height: 57px;
    }
    &__price {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        .new-price {
            color: #000;
            font-size: 15px;
            font-weight: 500;
            line-height: 19px;
        }
    }
}