.product-discount {
    display: flex;
    font-size: 12px;
    .price {
        margin-right: 7px;
        text-decoration: line-through;
        color: #999;
        font-weight: 400;
    }
    .discount {


    }
}