.product-rating {
    margin-bottom: 5px;
    display: flex;
    font-size: 11px;
    color: #999;
    .link {
        color: #1890ff;
    }
    .ant-rate {
        font-size: 11px;
        color: #ffac63;
        margin-right: 5px;
        .ant-rate-star  {
            margin-right: 3px;
        }
    }
}